@import "../common/styles/sass/variables";

.header {
  height: 80px;
  background-color: $bgColor;
  position: fixed;
  left: 0;
  right: 0;
  opacity: 0.8;
  z-index: 1;

  .headerContainer {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
  }
}



