@import '../../styles/sass/variables';
@import '../../styles/sass/mixins';

.title {
    margin-bottom: 30px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-color: $primaryColor;
        height: 4px;
        width: 75px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    h2 {
        @include text($mainFontFamily, 46px, 100%, $textColor);

        letter-spacing: -.25px;
        font-weight: 700;
        margin: 0 0 40px;
        display: inline-block;
    }
}




