@import '../../styles/sass/variables';

.title {
    margin-bottom: 30px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-color: $primaryColor;
        height: 4px;
        width: 75px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }
    h2 {
        color: #fff;
        margin: 0 0 40px;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        font-weight: 700;
        letter-spacing: -.25px;
        line-height: 100%;
        font-size: 46px;
    }
}




