@import "../../common/styles/sass/variables";
@import '../../common/styles/sass/mixins';

.skill {
  width: 25%;
  background-color: $bgThirdColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0 3% 50px 0;
  border: 1px solid white;

  .iconBlock {
    width: 60px;
    height: 60px;
    background-color: $textColor;
    border: 5px solid $primaryColor;
    @include photo(cover, center, no-repeat);
    transform: rotate(45deg);
    margin: 20px 0;
    .logo {
      transform: rotate(-45deg);
      width: 80%;
      border-radius: 50%;
    }
  }

  .title {
    color: $textColor;
  }

  .description {
    color: $textColor;
  }
}



