@import "../common/styles/sass/variables";

.skillsBlock {
    background-color: $bgThirdColor;
    .skillsContainer {
        min-height: 100vh;
        padding: 100px 0 50px;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        .skills {
            border: 1px solid;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
}






