@import "../common/styles/sass/variables";

.formBlock {
    background-color: $bgThirdColor;
}

.formContainer {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

//.formBody {
//    width: 50%;
//    display: flex;
//    flex-direction: column;
//    align-items: center;
//}

//.formBody input, .formBody textarea {
//    width: 100%;
//    margin-bottom: 10px;
//}

//.formBody input {
//
//}
//
//.formBody textarea {
//
//}
//
//.button {
//    width: 150px;
//    height: 40px;
//    font-weight: bold;
//}
