.formContainer {
  padding: 30px;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 auto;

  .name {
    margin-bottom: 40px;

    //background-color: aquamarine;
    //color: blue;
  }

  .email {
    margin-bottom: 20px;
  }

  .text {
    display: block;
    margin-bottom: 20px;
    width: 90%;
  }

  .buttonSend {
    //padding-left: 20px;
    /*text-align: center;*/

    .button {

      display: block;
      width: 30%;
    }
  }
}











