@import "../common/styles/sass/variables";

.formBlock {
    background-color: $bgThirdColor;
    .formContainer {
        padding-top: 100px ;
        min-height: 90vh;
        flex-direction: column;
        justify-content: flex-start;
    }
}




