@import "../common/styles/sass/variables";
@import "../common/styles/sass/mixins";

.mainBlock {
  height: 100vh;
  background-image: url("../assets/image/workBg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    background-color: $bgColor;
    opacity: 0.4;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }

  .mainContainer {
    flex-wrap: wrap;
    position: relative;
    @media screen and (max-width: 1530px) {
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }
    .text {

      h1 {
        @include text($mainFontFamily, 60px, 1.2, $textColor);

        font-weight: 700;
        letter-spacing: 1px;
        margin-bottom: 34px;
        @media screen and (max-width: 430px) {
          font-size: 40px;
        }

      }

      p {
        @include text($mainFontFamily, 30px, 1.2, $textColor);

        font-weight: 400;
        letter-spacing: .3px;
        margin: 0;
      }
    }

    .photo {
      opacity: 0.9;
      border-radius: 50%;
      width: 500px;
      height: 500px;
      @include photo(cover, center, no-repeat);
      @media screen and (max-width: 777px) {
        width: 400px;
        height: 400px;
      }
      @media screen and (max-width: 560px) {
        width: 300px;
        height: 300px;
      }
      @media screen and (max-width: 430px) {
        width: 200px;
        height: 200px;
      }
    }
  }
}




