.project {
    width: 450px;
    background-color: #edffed;
    display: flex;
    flex-direction: column;
}
.image {
    background-color: #a2a9a1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid;
}
.viewBtn {
    background-color: #eeeef5;
    padding: 10px 20px;
}

