.projectsBlock {
   background-color:#212529;
    /*background-color:#343a40;*/
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

@media screen and (max-width: 1285px) {
    .projects {
        justify-content: center;
    }
}
